.boton1 {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin: 1em;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.boton1:hover {
	background-color: #388E3C;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}